=botao_voltar(admins_backoffice_questions_path)
%hr
  - if @question.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{:type=>"button", :data-dismiss=>"alert", :aria-hidden=>"true" }x
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

.panel.panel-default
  .panel-heading=@question.model_name.human + ' ' + @question.id.to_s
  .panel-body
    = form_with(model: [ :admins_backoffice, @question ], local: true) do |form|
      .row
        .col-md-12.form-group
          = form.label(:subject)
          = form.collection_select(:subject_id,@subjects,:id,:description,{}, {class:'form-control'})
        .col-md-12.form-group
          = form.label(:description)
          = form.text_area(:description, class:'form-control', rows: 5)
      =botao_salvar()