= link_to('<i class="fa fa-arrow-left"></i> Voltar'.html_safe, admins_backoffice_questions_path, class: "btn btn-xs btn-default")
%hr
  - if @question.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{:type=>"button", :data-dismiss=>"alert", :aria-hidden=>"true" }x
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

.panel.panel-default
  .panel-heading Questão #{@question.id}
  .panel-body
    = form_with(model: [ :admins_backoffice, @question ], local: true) do |form|
      .row
        .col-md-12.form-group
          = form.label(:subject)
          = form.collection_select(:subject_id,@subjects,:id,:description,{}, {class:'form-control'})
        .col-md-12.form-group
          = form.label(:description)
          = form.text_area(:description, class:'form-control', rows: 5)
      .pull-right
        %button.btn.btn-primary{:type=>"submit"}
          %span.fa.fa-save Salvar