=botao_voltar(admins_backoffice_admins_path)
%hr
  - if @admin.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{:type=>"button", :data-dismiss=>"alert", :aria-hidden=>"true" }x
      %ul
        - @admin.errors.full_messages.each do |msg|
          %li= msg

.panel.panel-default
  .panel-heading=#{@admin.model_name.human @admin.id}
  .panel-body
    = form_with(model: [ :admins_backoffice, @admin ], local: true) do |form|
      .row
        .col-md-12.form-group
          = form.label(:email)
          = form.text_field(:email, class:'form-control')
        .col-md-6.form-group
          = form.label(:password)
          = form.text_field(:password, class:'form-control')
        .col-md-6.form-group
          = form.label(:password_confirmation)
          = form.text_field(:password_confirmation, class:'form-control')
      =botao_salvar()