%h2.page-header Administradores
%div.table-responsible
  %table.table.table-striped.table-bordered.table-hover
    %tr
      %th #
      %th Email
      %th= link_to('<span class="fa fa-plus"></span>'.html_safe, new_admins_backoffice_admin_path , class:"btn btn-success btn-circle")
    -@admins.each do |admin|
      %tr
        %td.small_col= admin.id
        %td= admin.email
        %td.small_col
          = link_to('<span class="fa fa-edit"></span>'.html_safe, edit_admins_backoffice_admin_path(admin) , class:"btn btn-primary btn-circle")
          = link_to('<span class="fa fa-times"></span>'.html_safe, admins_backoffice_admin_path(admin) , class:"btn btn-danger btn-circle",method:'delete', data: {confirm: "Deseja realmente excluir este registro?"})
  = paginate(@admins)

%style .small_col{width: 10%;}